.idea/.idea.coding-dojo.dir/.idea
GildedRoseRefactoringKata/fsharp-core/.idea
GildedRoseRefactoringKata/fsharp-core/GildedRose/obj
GildedRoseRefactoringKata/fsharp-core/GildedRose.ApprovalTests/obj
GildedRoseRefactoringKata/fsharp-core/GildedRose.UnitTests/obj
GildedRoseRefactoringKata/fsharp-core/GildedRose/bin
GildedRoseRefactoringKata/fsharp-core/GildedRose.ApprovalTests/bin
BankOcr/csharp/jose/BankOCR/.idea/.idea.BankOCR
BankOcr/csharp/jose/BankOCR/BankOCR/bin
BankOcr/csharp/jose/BankOCR/BankOCR/obj
BankOcr/csharp/jose/BankOCR/BanckOCR.Tests/bin
BankOcr/csharp/jose/BankOCR/BanckOCR.Tests/obj
BankOcr/csharp/jose/BankOCR/BankOCR.sln.DotSettings.user
BankOcr/csharp/jose/BankOCR/BankOCR.Tests/bin
BankOcr/csharp/jose/BankOCR/BankOCR.Tests/obj
